@model Pexels.Models.VwModel
@{
    ViewBag.Title = "Index";
}

<main>
    <section class="lisence-header" style="background-image: url('/Public/image/@Model.LisenceHeader.Background')">
        <div class="header-content">
            <h1>@Model.LisenceHeader.Title</h1>
            <h3>@Model.LisenceHeader.Text</h3>
        </div>
    </section>

    <div class="container-center-lisence">
        <div class="col-lg-12 title-center">
            <div class="row">
                <h1>Nə icazə verilir?</h1>
            </div>
            <div class="row">
                <p>Pexels Lisenziyasını mümkün qədər sadə tutmağa çalışdıq. Daha ətraflı məlumat üçün oxuyun.</p>
            </div>
        </div>
        <div class="row">
            <ul class="list-custom-allowed">
                @foreach (var item in Model.LisenceAllow)
                {
                    <li>
                        <i class="fas fa-check"></i>
                        <span>
                            @item.AllowItem
                        </span>
                    </li>
                }
            </ul>
        </div>
    </div>


    <div class="col-lg-12 title-center">
        <div class="row">
            <h1>Hekayənizi şəkillərlə danışın</h1>
        </div>
        <div class="row">
            <p>Pexels Lisenziyasını mümkün qədər sadə tutmağa çalışdıq. Daha ətraflı məlumat üçün oxuyun.</p>
        </div>
    </div>


    <div class="text-content">
        <div class="row">
            @foreach (var item in Model.LisenceCard)
            {
                <div class="col-lg-6">
                    <img src="/Public/image/@item.Photo" alt="">
                    <div class="content-text">
                        <h4>@item.Title</h4>
                        <p>
                            @item.Text
                        </p>
                    </div>
                </div>
            }
        </div>
    </div>

    <div class="container-center-lisence">
        <div class="col-lg-12 title-center">
            <div class="row">
                <h1>Nə icazə verilmir?</h1>
            </div>
            <div class="row">
                <p>Tərtibatçılarımızın ağır işinə hörmət edin və bu məhdudiyyətləri nəzərə alın.</p>
            </div>
        </div>
        <div class="row">
            <ul class="list-custom-notallowed">
                @foreach (var item in Model.LisenceNotAllow)
                {
                    <li>
                        <i class="fas fa-times"></i>
                        <span>@item.NotAllowItem</span>
                    </li>
                }
            </ul>
        </div>
    </div>
</main>

