
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Pexels Qeydiyyat</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/Public/Login/vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/Public/Login/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/Public/Login/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/Public/Login/vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/Public/Login/vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/Public/Login/vendor/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/Public/Login/vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/Public/Login/vendor/daterangepicker/daterangepicker.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/Public/Login/css/util.css">
    <link rel="stylesheet" type="text/css" href="/Public/Login/css/main.css">
    <!--===============================================================================================-->
</head>
<body>

            @*Register Head*@
<div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-50">
                <div class="row navi d-flex justify-content-between">
                    <div class="index-navi">
                        <img src="/Public/image/logo.jpg" width="30" height="30" alt="">
                        <a href="@Url.Action("Index","Home")">Pexels</a>
                    </div>
                    <div class="login-join-navi">
                        <a href="@Url.Action("Login","Account")">Giriş</a>
                        <a href="@Url.Action("Create","Join")">Qeydiyyat</a>
                    </div>
                </div>
                @*Register Form*@
                <form class="login100-form validate-form" method="post" action="@Url.Action("Create", "Join")">
                    @if (ViewBag.SameEmailError != null)
                    {
                        <p class="text-danger">
                            @ViewBag.SameEmailError
                        </p>
                    }
                    <div class="wrap-input100 validate-input" data-validate="Ad boş Buraxıla bilməz">
                        <input class="input100" type="text" name="Name" placeholder="Ad">
                        <span class="focus-input100-1"></span>
                        <span class="focus-input100-2"></span>
                    </div>

                    <div class="wrap-input100 ">
                        <input class="input100" type="text" name="Surname" placeholder="Soyad (şəxsi)">
                        <span class="focus-input100-1"></span>
                        <span class="focus-input100-2"></span>
                    </div>

                    <div class="wrap-input100 validate-input" data-validate="E-poçt boş buraxıla bilməz: ex@abc.xyz">
                        <input class="input100" type="text" name="Email" placeholder="E-poçt">
                        <span class="focus-input100-1"></span>
                        <span class="focus-input100-2"></span>
                    </div>

                    <div class="wrap-input100 rs1 validate-input" data-validate="Şifrə boş buraxıla bilməz">
                        <input class="input100" type="password" name="Password" placeholder="Şifrə">
                        <span class="focus-input100-1"></span>
                        <span class="focus-input100-2"></span>
                    </div>

                    <div class="container-login100-form-btn m-t-20">
                        <button type="submit" class="login100-form-btn">
                            Qeydiyyatdan keç
                        </button>
                    </div>
                </form>
            </div>

        </div>
    </div>
    </div>



    <!--===============================================================================================-->
    <script src="/Public/Login/vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="/Public/Login/vendor/animsition/js/animsition.min.js"></script>
    <!--===============================================================================================-->
    <script src="/Public/Login/vendor/bootstrap/js/popper.js"></script>
    <script src="/Public/Login/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="/Public/Login/vendor/select2/select2.min.js"></script>
    <!--===============================================================================================-->
    <script src="/Public/Login/vendor/daterangepicker/moment.min.js"></script>
    <script src="/Public/Login/vendor/daterangepicker/daterangepicker.js"></script>
    <!--===============================================================================================-->
    <script src="/Public/Login/vendor/countdowntime/countdowntime.js"></script>
    <!--===============================================================================================-->
    <script src="/Public/Login/js/main.js"></script>

</body>
</html>
