@using Pexels.Models
@model VwModel

@{
    ViewBag.Title = "Index";
    Layout = "../Shared/_PartLayout.cshtml";
}

<div class="title-search">
    <h3>Breakfast time</h3>
</div>


@{
    int count = 2;
    int inc = 0;
}

<div class="photos">
    <div class="row">
        @for (int i = 0; i < count; i++)
        {
            <div class="col-lg-4 photos-column">
                @if (i == 0)
                {
                    for (int k = 0; k < 3; k++)
                    {
                        <div class="image-div mb-3">
                            <a href=@Url.Action("index", "Photosingle", new {id = @Model.Photos[i * count + k + inc].Id})>
                                <img src="/Public/UserImage/@Model.Photos[i * count + k + inc].Link" alt="">
                            </a>
                            <div class="photo-buttons">
                                <a href=""><i class="fas fa-plus-circle"></i></a>
                                @if (Session["User"] == null)
                                {
                                    <a href="@Url.Action("login","Account")"><i class="fas fa-heart right-like-button"></i></a>
                                }
                                else
                                {
                                    <i class="fas fa-heart right-like-button"></i>
                                }
                                <input type="hidden" id="isLikeed" value="0" />
                                <input class="forPhotoId" type="hidden" value="@Model.Photos[i * count + k + inc].Id" />
                                @*<input class="" type="hidden" value="@Model.Likes.Where(l=>l.PhotoId==Model.Photos[i * count + k + inc].Id)"/>*@
                            </div>
                        </div>
                    }
                }
                else
                {
                    for (int k = 0; k < 3; k++)
                    {
                        <div class="image-div mb-3">
                            <a href=@Url.Action("index", "Photosingle", new {id = @Model.Photos[i * count + k + inc].Id})>
                                <img src="/Public/UserImage/@Model.Photos[i * count + k + inc].Link" alt="">
                            </a>
                            <div class="photo-buttons">
                                <a href=""><i class="fas fa-plus-circle"></i></a>
                                @if (Session["User"] == null)
                                {
                                    <a href="@Url.Action("login","Account")"><i class="fas fa-heart right-like-button"></i></a>
                                }
                                else
                                {
                                    <i class="fas fa-heart right-like-button"></i>
                                }
                                <input type="hidden" id="isLikeed" value="0" />
                                <input class="forPhotoId" type="hidden" value="@Model.Photos[i * count + k + inc].Id" />
                            </div>
                        </div>
                    }
                    inc++;
                }
            </div>
        }
    </div>
</div>
