@using Pexels.Models
@model VwModel

@{
    ViewBag.Title = "Index";
    Layout = "../Shared/_PartLayout.cshtml";
}



<!--Page Title Start-->
<div class="title-popular-photos">
    <h3>Populyar şəkillər</h3>
</div>
<!--Page Title End-->

<!--Photos Section In Popular Photos Page Start-->
<div class="grid" data-masonry='{ "itemSelector": ".grid-item" }'>
    @foreach (var item in Model.Photos)
    {
        <div class="grid-item">
            <a href="@Url.Action("index", "Photosingle", new {id = @item.Id})">
                <img src="/Public/UserImage/@item.Link" alt="">
            </a>
            <div class="photo-buttons">
                @if (Session["User"] != null)
                {
                    Users user = Session["User"] as Users;

                    if (Model.Likes.Exists(l => l.UserId == user.Id && l.Status == true && l.PhotoId == item.Id))
                    {
                        <i style=" color: red" class="fas fa-heart right-like-button " data-proId="@item.Id"></i>
                    }
                    else
                    {
                        <i style="color: white" class="fas fa-heart right-like-button" data-proId="@item.Id"></i>
                    }

                }
                else
                {
                    <a href="@Url.Action("login","Account")"><i class="fas fa-heart right-like-button"></i></a>
                }
                <input type="hidden" id="isLikeed" value="0" />
                <input class="forPhotoId" type="hidden" value="@item.Id" />
            </div>
        </div>
    }
</div>
<!--Photos Section In Popular Photos Page End-->
