@using Pexels.Models
@model Pexels.Models.VwModel
@{
    ViewBag.Title = "Index";
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Pulsuz fotoşəkillər - Pexels</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
    <link rel="stylesheet" href="/Public/css/style.css">
</head>

<body>
    @*Menu For Index Page*@
    <header class="index">
        <div class="menu home">
            <div class="row menu-navbar-home">
                @*Logo*@
                <div class="col-lg-2 logo">
                    <a class="logotxt" href="@Url.Action("index", "home")">
                        <img src="/Public/image/logo.jpg" width="35" height="35" alt="">
                        <span>Pexels</span>
                    </a>
                </div>
                @*Navbar*@
                <div class="col-lg-10 d-flex justify-content-end">
                    <ul class="navbar-item">
                        <li>
                            <div class="dropdown">
                                <a class="dropbtn" style="margin:0px" href="@Url.Action("Index", "Discover")">Araşdırmaq</a>
                                <div class="dropdown-content">
                                    <a href="@Url.Action("index", "discover")">Kəşf edin</a>
                                    <a href="@Url.Action("index", "popularphotos")">Populyar şəkillər</a>
                                    <a href="@Url.Action("index", "popularsearches")">Populyar axtarışlar</a>
                                </div>
                            </div>
                        </li>
                        <li><a href="@Url.Action("Index", "Lisence")">Lisenziya</a></li>
                        <li><a href="@Url.Action("Index", "Join")">Qeydiyyat</a></li>
                        <li>
                            <div class="dropdown">
                                <a class="dropbtn" href="#"><i class="fas fa-ellipsis-h"></i></a>
                                <div class="dropdown-content-more">
                                    @if (Session["LoggedUser"] != null)
                                    {
                                        <a href="@Url.Action("index","Profile")">Profil</a>
                                        <a href="@Url.Action("Logout", "Account")">Çıxış</a>
                                        <a href="@Url.Action("index", "aboutus")">Haqqımızda</a>
                                        <a href="@Url.Action("index", "faq")">Suallar</a>
                                    }
                                    else
                                    {
                                        <a href="@Url.Action("Login", "Account")">Giriş</a>
                                        <a href="@Url.Action("index", "join")">Qeydiyyat</a>
                                        <a href="@Url.Action("index", "aboutus")">Haqqımızda</a>
                                        <a href="@Url.Action("index", "faq")">Suallar</a>
                                    }
                                    
                                    <ul class="social">
                                        <li>
                                            <a target="blank_" href="https://www.facebook.com/">
                                                <i class="fab fa-facebook-f"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a target="blank_" href="https://twitter.com/">
                                                <i class="fab fa-twitter"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a target="blank_" href="https://www.instagram.com/">
                                                <i class="fab fa-instagram"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a target="blank_" href="https://www.pinterest.com/">
                                                <i class="fab fa-pinterest"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                        <li>
                            <a href="@Url.Action("Index", "Profile")">
                                <button type="button" class="btn btn-success">Yükləmək</button>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <i class="fas fa-bars res-menu"></i>
        </div>
        @*Search Section For Search Photos*@
        <div id="search">
            <div class="row d-flex justify-content-center">
                <h2>İstedadlı fotoqraflar tərəfindən paylaşılan ən yaxşı pulsuz şəkilləri.</h2>
            </div>
            <div class="row d-flex justify-content-center">
                <div class="wrap">
                    <form class="search" method="post" action="/Home/Search">
                        <input type="text" class="searchTerm" name="query" placeholder="Fotoşəkil axtarın">
                        <button type="submit" class="searchButton">
                            <a href="@Url.Action("Search","Home")"  ><i class="fa fa-search"></i></a>
                        </button>
                    </form>
                </div>
            </div>
        </div>

        @*Responsive Menu For Index Page*@
        <div class="menu-responsive">
            <ul class="navbar-responsive">
                <li>
                    <a href="@Url.Action("index", "discover")">Kəşf edin</a>
                </li>
                <li><a href="@Url.Action("index", "popularphotos")">Populyar şəkillər</a></li>
                <li>
                    <a href="@Url.Action("index", "popularsearches")">Populyar axtarışlar</a>
                </li>
                <hr />
                @if (Session["LoggedUser"] != null)
                {
                    <li><a href="@Url.Action("index","Profile")">Profil</a></li>
                    <li><a href="@Url.Action("Logout", "Account")">Çıxış</a></li>
                    <li> <a href="@Url.Action("index","join")">Qeydiyyat</a></li>
                    <li><a href="@Url.Action("index","Lisence")">Lisenziya</a></li>
                    <li> <a href="@Url.Action("index","aboutus")">Haqqımızda</a></li>
                    <li> <a href="@Url.Action("index","faq")">Suallar</a></li>
                }
                else
                {
                    <li><a href="@Url.Action("Login", "Account")">Giriş</a></li>
                    <li><a href="@Url.Action("index", "join")">Qeydiyyat</a></li>
                    <li><a href="@Url.Action("index","Lisence")">Lisenziya</a></li>
                    <li><a href="@Url.Action("index", "aboutus")">Haqqımızda</a></li>
                    <li><a href="@Url.Action("index", "faq")">Suallar</a></li>
                }
            </ul>
            <ul class="res-social">
                <li>
                    <a target="blank_" href="https://www.facebook.com/">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                </li>
                <li>
                    <a target="blank_" href="https://twitter.com/">
                        <i class="fab fa-twitter"></i>
                    </a>
                </li>
                <li>
                    <a target="blank_" href="https://www.instagram.com/">
                        <i class="fab fa-instagram"></i>
                    </a>
                </li>
                <li>
                    <a target="blank_" href="https://www.pinterest.com/">
                        <i class="fab fa-pinterest"></i>
                    </a>
                </li>
            </ul>
        </div>
    </header>

    <main>
        @*Home Page Content*@
        <div class="home-content m-container">
            @*Home Page Title*@
            <div class="title">
                <h4>Pulsuz Foto şəkil</h4>
            </div>

            @*Photo Section*@
            <div class="photos">
                <div class="row">
                    @Html.Partial("_PartialPhotos", Model)
                </div>
            </div>
          
        </div>
    </main>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="/Public/js/script.js"></script>
</body>

</html>