@using Pexels.Models
@model VwModel

@{
    <!--Change Page Nav Active Class-->
    var controllerName = this.ViewContext.RouteData.Values["controller"].ToString().ToLower();
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <!--===============================================================================================-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" href="/Public/css/style.css">
    <!--===============================================================================================-->
</head>

<body>

    <!--Menu Start-->
    <header>
        <div class="menu fixed">
            <div class="row menu-navbar">
                <!--Logo Start-->
                <div class="col-lg-2 logo">
                    <a class="logotxt" href="@Url.Action("index", "home")">
                        <img src="/Uploads/@Model.Settings.Logo" width="35" height="35" alt="">
                        <span>Pexels</span>
                    </a>
                </div>
                <!--Logo End-->
                <!--Navbar Start-->
                <div class="col-lg-10 d-flex justify-content-end">
                    <ul class="navbar-item">
                        <li>
                            <div class="dropdown">
                                <a class="dropbtn" style="margin:0px" href="@Url.Action("index", "Discover")">Araşdırmaq</a>
                                <div class="dropdown-content">
                                    <a href="@Url.Action("index", "discover")">Kəşf edin</a>
                                    <a href="@Url.Action("index", "popularphotos")">Populyar şəkillər</a>
                                    <a href="@Url.Action("index", "popularsearches")">Populyar axtarışlar</a>
                                </div>
                            </div>
                        </li>
                        <li><a href="@Url.Action("index", "Lisence")">Lisenziya</a></li>
                        <li><a href="@Url.Action("index", "Join")">Qeydiyyat</a></li>
                        <li>
                            <div class="dropdown">
                                <a class="dropbtn" href="#"><i class="fas fa-ellipsis-h"></i></a>
                                <div class="dropdown-content-more">
                                    @if (Session["LoggedUser"] != null)
                                    {
                                        <a href="@Url.Action("Upload", "Profile")">Profil</a>
                                        <a href="@Url.Action("Logout", "Account")">Çıxış</a>
                                        <a href="@Url.Action("index", "join")">Qeydiyyat</a>
                                        <a href="@Url.Action("index", "aboutus")">Haqqımızda</a>
                                        <a href="@Url.Action("index", "faq")">Suallar</a>
                                    }
                                    else
                                    {
                                        <a href="@Url.Action("Login", "Account")">Giriş</a>
                                        <a href="@Url.Action("Create", "join")">Qeydiyyat</a>
                                        <a href="@Url.Action("index", "aboutus")">Haqqımızda</a>
                                        <a href="@Url.Action("index", "faq")">Suallar</a>
                                    }
                                    <ul class="social">
                                        <li><a target="blank_" href="@Model.Settings.Facebook"><i class="fab fa-facebook-f"></i></a></li>
                                        <li><a target="blank_" href="@Model.Settings.Twitter"><i class="fab fa-twitter"></i></a></li>
                                        <li><a target="blank_" href="@Model.Settings.Instagram"><i class="fab fa-instagram"></i></a></li>
                                        <li><a target="blank_" href="@Model.Settings.Pinterest"><i class="fab fa-pinterest"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                        <li>
                            <a href="@Url.Action("Upload", "Profile")">
                                <button type="button" class="btn btn-success">Yükləmək</button>
                            </a>
                        </li>
                    </ul>
                </div>
                <i class="fas fa-bars res-menu"></i>
                <!--Navbar End-->
            </div>
        </div>

        <!--Responsive Menu Start-->
        <div class="menu-responsive">
            <ul class="navbar-responsive">
                <li>
                    <a href="@Url.Action("index", "discover")">Kəşf edin</a>
                </li>
                <li><a href="@Url.Action("index", "popularphotos")">Populyar şəkillər</a></li>
                <li>
                    <a href="@Url.Action("index", "popularsearches")">Populyar axtarışlar</a>
                </li>
                <hr />
                @if (Session["LoggedUser"] != null)
                {
                    <li><a href="@Url.Action("Upload", "Profile")">Profil</a></li>
                    <li><a href="@Url.Action("Logout", "Account")">Çıxış</a></li>
                    <li> <a href="@Url.Action("Create", "join")">Qeydiyyat</a></li>
                    <li><a href="@Url.Action("index", "Lisence")">Lisenziya</a></li>
                    <li> <a href="@Url.Action("index", "aboutus")">Haqqımızda</a></li>
                    <li> <a href="@Url.Action("index", "faq")">Suallar</a></li>
                }
                else
                {
                    <li><a href="@Url.Action("Login", "Account")">Giriş</a></li>
                    <li><a href="@Url.Action("Create", "join")">Qeydiyyat</a></li>
                    <li><a href="@Url.Action("index", "Lisence")">Lisenziya</a></li>
                    <li><a href="@Url.Action("index", "aboutus")">Haqqımızda</a></li>
                    <li><a href="@Url.Action("index", "faq")">Suallar</a></li>
                }
            </ul>
            <!--Social List Start-->
            <ul class="res-social">
                <li>
                    <a target="blank_" href="https://www.facebook.com/">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                </li>
                <li>
                    <a target="blank_" href="https://twitter.com/">
                        <i class="fab fa-twitter"></i>
                    </a>
                </li>
                <li>
                    <a target="blank_" href="https://www.instagram.com/">
                        <i class="fab fa-instagram"></i>
                    </a>
                </li>
                <li>
                    <a target="blank_" href="https://www.pinterest.com/">
                        <i class="fab fa-pinterest"></i>
                    </a>
                </li>
            </ul>
            <!--Social List End-->
        </div>
        <!--Responsive Menu End-->
    </header>
    <!--Menu End-->

    <main>
        <!--Subnavbar Start-->
        <div class="subnavbar">
            <a class="tab @(controllerName == "aboutus" ? "active" : "")" href="@Url.Action("Index", "Aboutus")">Haqqımızda</a>
            <a class="tab @(controllerName == "lisence" ? "active" : "")" href="@Url.Action("Index", "Lisence")">Lisenziya</a>
            <a class="tab @(controllerName == "faq" ? "active" : "")" href="@Url.Action("Index", "Faq")">Suallar</a>
        </div>
        <!--Subnavbar End-->

        @RenderBody()
    </main>

    <!--Footer Start-->
    <footer>
        <div class="container-footer">
            <div class="row">
                <!--Footer Logo Start-->
                <div class="footer-list-pexels col-lg-3">
                    <a href="@Url.Action("index", "Home")">
                        <img src="/Public/image/logo.jpg" width="30" height="30" alt="">
                        Pexels
                    </a>
                    <p>Gözəl fotoşəkillər bizim istedadlı cəmiyyətimiz tərəfindən əmələ gəlmişdir.</p>
                    <a class="register" href="@Url.Action("Create", "join")">Pulsuz Qeydiyyatdan keç →</a>
                    <!--Social List Start-->
                    <ul class="social-list">
                        <li><a href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a></li>
                        <li><a href="https://twitter.com/"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="https://www.facebook.com/"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="https://medium.com/"><i class="fab fa-medium"></i></a></li>
                    </ul>
                    <!--Social List End-->
                </div>
                <!--Footer Logo End-->
                <!--Footer Services Start-->
                <div class="footer-list-service col-lg-3">
                    <h5>Service</h5>
                    <ul class="service-list">
                        <li> <a href="@Url.Action("index", "Lisence")">Lisenziya</a> </li>
                        <li> <a href="@Url.Action("index", "Faq")">Suallar</a> </li>
                        <li><a href="@Url.Action("index", "Aboutus")">Haqqımızda</a></li>
                    </ul>
                </div>
                <!--Footer Services End-->
                <!--Footer Photos Start-->
                <div class="footer-list-photo col-lg-3">
                    <h5>Şəkillər</h5>
                    <ul class="photo-list">
                        <li> <a href="@Url.Action("index", "Discover")">Koleksiyonları kəşf edin</a> </li>
                        <li> <a href="@Url.Action("index", "Popularphotos")">Populyar şəkillər</a> </li>
                        <li><a href="@Url.Action("index", "Popularsearches")">Populyar axtarışlar</a></li>
                    </ul>
                </div>
                <!--Footer Photos End-->
            </div>
        </div>
    </footer>
    <!--Footer End-->

    <!--===============================================================================================-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!--===============================================================================================-->
    <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Public/js/masonry.pkgd.min.js"></script>
    <!--===============================================================================================-->
    <script src="/Public/js/script.js"></script>
    <!--===============================================================================================-->
</body>
</html>
