@using Pexels.Models
@model VwModel


@if (Model.Photos.Count == 0)
{
    <div class="row">
        <div class="col-lg-4 align-items-center">
            <p style="width: 100%;line-height: 50px;margin-left: 5%;font-size: 20px" class="">Bu kateqoriyada şəkil tapılmadı</p>
        </div>
    </div>
    return;
}

<div class="grid" data-masonry='{ "itemSelector": ".grid-item" }' @*data-infinite-scroll='{ "path": ".pagination__next", "append": ".grid-item", "history": false }'*@>
    @foreach (var item in Model.Photos)
    {
        <div class="grid-item">
            <div class="photo">
                <a  href="@Url.Action("index", "Photosingle", new {id = @item.Id})">
                    <img  src="/Public/UserImage/@item.Link" alt="">
                </a>
            </div>
            
            <div class="photo-buttons">
                @if (Session["User"] == null)
                {
                    <a href="@Url.Action("login","Account")"><i class="fas fa-heart right-like-button"></i></a>
                }
                else
                {
                    <i class="fas fa-heart right-like-button"></i>
                }

                <input type="hidden" id="isLikeed" value="0" />
                <input class="forPhotoId" type="hidden" value="@item.Id" />
            </div>
        </div>
    }
</div>




@*@{
    int count = 3;
    int inc = 0;
}*@



@*@for (int i = 0; i < count; i++)
{
    <div class="col-lg-4 photos-column">

        @if (i == 0)
        {
            for (int k = 0; k < 3; k++)
            {
                <div class="image-div mb-3">
                    <a href=@Url.Action("index", "Photosingle", new {id = @Model.Photos[i * count  + k + inc].Id})>
                        <img src="/Public/UserImage/@Model.Photos[i * count + k + inc].Link" alt="">
                    </a>
                    <div class="photo-buttons">
                        <i class="fas fa-heart right-like-button"></i>
                        <input type="hidden" id="isLikeed" value="0" />
                        <input class="forPhotoId" type="hidden" value="@Model.Photos[i * count  + k + inc].Id" />
                        @*<input class="" type="hidden" value="@Model.Likes.Where(l=>l.PhotoId==Model.Photos[i * count + k + inc].Id)"/>*@
                    @*</div>
                </div>*@
            @*}
        }
        else
        {
            for (int k = 0; k < 3; k++)
            {
                <div class="image-div mb-3">
                    <a href=@Url.Action("index", "Photosingle", new {id = @Model.Photos[i * count  + k + inc].Id})>
                        <img src="/Public/UserImage/@Model.Photos[i * count + k + inc].Link" alt="">
                    </a>
                    <div class="photo-buttons">
                        @if (Session["User"] == null)
                        {
                            <a href="@Url.Action("login","Account")"><i class="fas fa-heart right-like-button"></i></a>
                        }
                        else
                        {
                            <i class="fas fa-heart right-like-button"></i>
                        }
                        <input type="hidden" id="isLikeed" value="0" />
                        <input class="forPhotoId" type="hidden" value="@Model.Photos[i * count + k  + inc].Id" />
                    </div>
                </div>
            }
        }
    </div>*@
@*}*@




