@model Pexels.Models.VwModel
@{
    ViewBag.Title = "Index";
    Layout = "../Shared/_PartLayout.cshtml";
}

<main>
    
    <div class="subnavbar">

        <a href="@Url.Action("Index", "Discover")" class="tab active">Kəşf edin</a>

        <a href="@Url.Action("Index", "Popularphotos")" class="tab">Populyar şəkillər</a>

        <a href="@Url.Action("Index", "Popularsearches")" class="tab">Populyar axtarışlar</a>

    </div>

    @*Content Title*@
    <section class="container-center-discover">
        <div class="title-discover">
            <h3>@Model.DiscoverHeader.Title</h3>
            <p>@Model.DiscoverHeader.Desc</p>
        </div>
        
        @*Cards Collection*@
        <div class="container-center-discover">
            <div class="row">
                @foreach (var item in Model.DiscoverCards)
                {
                    <div class="col-lg-4 collections">
                        <div class="card text-center" style="width: 20rem;">
                            <a href="@Url.Action("index", "collections")">
                                <img class="card-img-top" src="/Public/image/@item.CardImage">
                            </a>
                            <div class="card-body">
                                <p class="card-text collections-body">
                                    <h5>@item.CardTitle</h5>
                                    <span>156 photos</span>
                                </p>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </section>
</main>
