
@{
    ViewBag.Title = "Index";
    Layout = "../Shared/_PartLayout.cshtml";
}

<main>
    <div class="subnavbar">

        <a href="@Url.Action("Index","Discover")" class="tab active">Kəşf edin</a>

        <a href="@Url.Action("Index","Popularphotos")" class="tab">Populyar şəkillər</a>

        <a href="@Url.Action("Index","Popularsearches")" class="tab">Populyar axtarışlar</a>

    </div>
    <section class="container-center-discover">
        <div class="title-discover">
            <h3>Gözəl şəkilləri kəşf edin</h3>
            <p>Ən məşhur kolleksiyaları araşdırın.</p>
        </div>

        <div class="container-center-discover">
            <div class="row">
                <div class="col-lg-4 collections">
                    <div class="card text-center" style="width: 20rem;">
                        <a href="@Url.Action("index","collections")">
                            <img class="card-img-top" src="/Public/image/pexels-photo-744780.jpeg">
                        </a>
                        <div class="card-body">
                            <p class="card-text collections-body">
                                <h5>Breakfast time</h5>
                                <span>156 photos</span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 collections">
                    <div class="card text-center" style="width: 20rem;">
                        <a href="@Url.Action("index","collections")">
                            <img class="card-img-top" src="/Public/image/pexels-photo-744780.jpeg">
                        </a>
                        <div class="card-body">
                            <p class="card-text collections-body">
                                <h5>Breakfast time</h5>
                                <span>156 photos</span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 collections">
                    <div class="card text-center" style="width: 20rem;">
                        <a href="@Url.Action("index","collections")">
                            <img class="card-img-top" src="/Public/image/pexels-photo-744780.jpeg">
                        </a>
                        <div class="card-body">
                            <p class="card-text collections-body">
                                <h5>Breakfast time</h5>
                                <span>156 photos</span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 collections">
                    <div class="card text-center" style="width: 20rem;">
                        <a href="@Url.Action("index","collections")">
                            <img class="card-img-top" src="/Public/image/pexels-photo-744780.jpeg">
                        </a>
                        <div class="card-body">
                            <p class="card-text collections-body">
                                <h5>Breakfast time</h5>
                                <span>156 photos</span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 collections">
                    <div class="card text-center" style="width: 20rem;">
                        <a href="@Url.Action("index","collections")">
                            <img class="card-img-top" src="/Public/image/pexels-photo-744780.jpeg">
                        </a>
                        <div class="card-body">
                            <p class="card-text collections-body">
                                <h5>Breakfast time</h5>
                                <span>156 photos</span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 collections">
                    <div class="card text-center" style="width: 20rem;">
                        <a href="@Url.Action("index","collections")">
                            <img class="card-img-top" src="/Public/image/pexels-photo-744780.jpeg">
                        </a>
                        <div class="card-body">
                            <p class="card-text collections-body">
                                <h5>Breakfast time</h5>
                                <span>156 photos</span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 collections">
                    <div class="card text-center" style="width: 20rem;">
                        <a href="@Url.Action("index","collections")">
                            <img class="card-img-top" src="/Public/image/pexels-photo-744780.jpeg">
                        </a>
                        <div class="card-body">
                            <p class="card-text collections-body">
                                <h5>Breakfast time</h5>
                                <span>156 photos</span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 collections">
                    <div class="card text-center" style="width: 20rem;">
                        <a href="@Url.Action("index","collections")">
                            <img class="card-img-top" src="/Public/image/pexels-photo-744780.jpeg">
                        </a>
                        <div class="card-body">
                            <p class="card-text collections-body">
                                <h5>Breakfast time</h5>
                                <span>156 photos</span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 collections">
                    <div class="card text-center" style="width: 20rem;">
                        <a href="@Url.Action("index","collections")">
                            <img class="card-img-top" src="/Public/image/pexels-photo-744780.jpeg">
                        </a>
                        <div class="card-body">
                            <p class="card-text collections-body">
                                <h5>Breakfast time</h5>
                                <span>156 photos</span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
